<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="linear_axis_two_robots">
    <xacro:include filename="$(find abb_resources)/urdf/common_materials.xacro"/>
    <xacro:include filename="$(find abb_irb4600_40_255)/urdf/abb_irb4600_40_255_macro.xacro"/>
    <xacro:include filename="$(find abb_linear_axis)/urdf/linear_axis.xacro"/>

    <link name="world" />

    <joint name="world_joint" type="fixed">
      <parent link="world" />
      <child link = "axis" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <xacro:linear_axis/>

    <joint name="abb_jointA" type="fixed">
      <parent link="cartA"/>
      <child  link="robotA_base_link"/>
      <origin xyz="0 0 0 " rpy="0 0 0 "/>
      <dynamics damping="0.2" friction="0" />
    </joint>

    <xacro:abb_irb4600_40_255 prefix="robotA_"/>

    <joint name="abb_jointB" type="fixed">
      <parent link="cartB"/>
      <child  link="robotB_base_link"/>
      <origin xyz="0 0 0 " rpy="0 0 0 "/>
      <dynamics damping="0.2" friction="0" />
    </joint>

    <xacro:abb_irb4600_40_255 prefix="robotB_"/>
  </xacro:macro>
</robot>


