<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="abb_irb6700_175_305_ibois">
  <xacro:include filename="$(find abb_resources)/urdf/common_materials.xacro"/>
  <xacro:include filename="$(find abb_irb6700_support)/urdf/irb6700_175_305_macro.xacro"/>
  <xacro:include filename="$(find abb_irbt6004_670_support)/urdf/abb_irbt6004_670.xacro"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "axis" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:abb_irbt6004_670 />
  
  <joint name="abb_joint" type="fixed">
    <parent link="pedestal"/>
    <child  link="base_link"/>
    <origin xyz="0 0 0 " rpy="0 0 0 "/>
    <dynamics damping="0.2" friction="0" />
  </joint>

  <xacro:abb_irb6700_175_305 prefix=""/>
  </xacro:macro>
</robot>
